/* Box5 */
.item5 {
    grid-column: 2/5;
    grid-row: 7/8;
    width: 83.5%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}

.ItemAd {
    width: 53%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: flex-start;
    height: 125%;
    cursor: pointer;
    margin-top: -32px;
    margin-left: -32px;
    background-image: linear-gradient(to top, #f1f1f1, #fff);
    ;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
}

.ItemAd img {
    background-color: pink;
    width: 200px;
}

.Item_Info {
    height: 150px;
    width: 60%;
    margin-top: -30px;
    margin-left: 12px;
}

.Item_Title {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Item1_stars {
    height: 30px;
    display: flex;
    padding: 5px;
    font-size: 15pt;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 15px;
    margin-left: -60px;
}

.CartBtns {
    display: flex;
    margin-top: 5px;
    width: 500px;
}

.CartBtns button {
    font-size: 11pt;
    width: 100px;
    cursor: pointer;
    height: 40px;
    border: 1px solid rgb(180, 180, 180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 15px;
}