/* FooterBox */
.Footer_2 {
    background-color: #131A22;
}

.FooterBox_2 {
    width: 50%;
    height: 500px;
    background-color: #131A22;
    margin: 0 auto;
    display: table;
}

.col_2 {
    display: table-cell;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: white;
    padding: 26px;
    padding-top: 40px;
}

.col_2 h3 {
    cursor: pointer;
    color: #e7e6e6;
}

.col_2 h3:hover {
    text-decoration: underline;
}

.col_2 p {
    color: #c4c3c3;
    cursor: pointer;
}

.col_2 p:hover {
    text-decoration: underline;
}

.Padding {
    padding-top: 40px;
}