* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}



/* Box5 */
.item5 {
    grid-column: 2/5;
    grid-row: 7/8;
    width: 83.5%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}

.ItemAd {
    width: 53%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: flex-start;
    height: 125%;
    cursor: pointer;
    margin-top: -32px;
    margin-left: -32px;
    background-image: linear-gradient(to top, #f1f1f1, #fff);
    ;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
}

.ItemAd img {
    background-color: pink;
    width: 200px;
}

.Item_Info {
    height: 150px;
    width: 60%;
    margin-top: -30px;
    margin-left: 12px;
}

.Item_Title {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Item1_stars {
    height: 30px;
    display: flex;
    padding: 5px;
    font-size: 15pt;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 15px;
    margin-left: -60px;
}

.CartBtns {
    display: flex;
    margin-top: 5px;
    width: 500px;
}

.CartBtns button {
    font-size: 11pt;
    width: 100px;
    cursor: pointer;
    height: 40px;
    border: 1px solid rgb(180, 180, 180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 15px;
}

/* Box6 */
.Main-Grid-container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 2rem;
    gap: 20px;
    /* background-color: brown; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Main-item {
    /* background-color: #ff6969; */
    text-align: left;
    padding: 2rem;
    font-size: 3rem;
    border: 1px solid black;
}

.ItemBox1 {
    /* background-color: plum; */
    grid-column: 1/5;
    height: 700px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.Popular_Product {
    border: 3px solid black;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.Pro_IMG {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 220px;
}

.Popular_Product img {
    width: 60%;
    background-color: palegoldenrod;
}

.ProTitle {
    font-size: 13pt;
    width: 100%;
    color: rgb(18, 77, 240);
    text-align: left;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    font-weight: 600;
}

.Pro_BlackBox {
    background-color: #2f2f2f;
    color: #fff;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
    width: 120px;
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

/* Price */
.Pro_PriceBox {
    display: flex;
}

.Pro_RedDiscount {
    margin-top: 10px;
    font-size: 20pt;
    font-weight: 350;
    color: crimson;
    letter-spacing: 15%;
}

.Pro_smallDollar {
    font-size: 13pt;
    margin-top: 3px;
    margin-left: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Pro_Price {
    font-size: 22pt;
    font-weight: 550;
    margin-top: 3px;
    letter-spacing: 10%;
    margin-left: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Pro_smallCent {
    font-size: 14pt;
    font-weight: 600;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Pro_ListPrice {
    display: flex;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Pro_ListPrice span {
    margin-left: 10px;
    text-decoration: line-through;
}

.Pro_SavingBox {
    font-size: 14pt;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #353535;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.Pro_SavingBox span {
    background-color: rgb(65, 227, 67);
    height: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* .ItemBox2 */
.ItemBox2 {
    background-color: rgb(247, 50, 247);
    grid-column: 1/5;
    height: 500px;
}