* {
    margin: 0;
    padding: 0;
}

.Container {
    background-color: rgb(255, 94, 0);
    margin: 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-around; */
    position: fixed;
}

.Logo {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-left: 30px;
    padding: 10px;
}

.Logo:hover {
    border: 1px solid #fff;
}

.Logo img {
    width: 150px;
    height: 80px;
}

.Deliver {
    margin-left: 30px;
    width: 180px;
    height: 60px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.Deliver:hover {
    border: 1px solid #fff;
}

.Deliver p {
    width: 100%;
    margin-left: 25px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    text-align: left;
}

.Location {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Location img {
    margin-left: -10px;
    width: 40px;
    height: 50px;
}

.Location h3 {
    color: #fff;
    width: 100%;
    font-weight: bold;
    align-items: center;
    font-size: 15pt;
    height: 30px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

/* Search */

.SearchBar {
    margin-left: 40px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.SearchBar .Search {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.Search:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box1 {
    background-color: rgb(236, 236, 236);
    width: 80px;
    height: 63px;
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    justify-content: center;
    font-size: 12pt;
    color: #00000089;
}

.box1:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    color: #000000;
}

.box1 p {
    display: flex;
    align-items: center;
}

.box1 img {
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    width: 15px;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 15px;
}

.box2 {
    display: flex;
    text-align: start;
    align-content: center;
    width: 100%;
    height: 60px;
}

.box2 input {
    text-align: start;
    align-content: center;
    width: 100%;
    padding: 5px;
    font-size: 13pt;
    height: 50px;
}

.box3 {
    background-color: rgb(236, 236, 236);
    position: relative;
    left: 0;
    top: 0;
    width: 80px;
    height: 63px;
    box-shadow: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    font-size: 20pt;
}

.box3:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    color: #000000;
}

.box3 img {
    width: 30px;
    height: 30px;
}

/* UserInfo */

.UserInfo {
    width: 700px;
    height: 62.5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.lang {
    margin-left: 20px;
    width: 80px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang:hover {
    border: 1px solid #fff;
}

.lang img {
    width: 40px;
    height: 30px;
}

.lang p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
}

.lang .down {
    width: 50px;
    height: 30px;
    margin-left: -10px;
}

.signin {
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 200px;
}

.signin:hover {
    border: 1px solid #fff;
}

.signin p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
}

.signin h2 {
    color: #fff;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.signin img {
    width: 50px;
    height: 30px;
    display: flex;
    margin-right: 11px;
    align-items: center;
    justify-content: center;
}

.Orders {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100px;
}

.Orders:hover {
    border: 1px solid #fff;
}

.Orders p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
}

.Orders h2 {
    color: #fff;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.cart {
    width: 80px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px;
}

.cart:hover {
    border: 1px solid #fff;
}

.cart img {
    width: 100px;
    height: 50px;
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cart h2 {
    color: #fff;
    margin-top: 25px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: end;
    justify-content: end;
}

/* menu */
.menu {
    position: relative;
    top: 100px;
    background-color: rgb(255, 151, 91);
    width: 100%;
    height: 50px;
}

/* MICRO */
.MICRO {
    background-color: #f629e1;
    width: 100%;
    margin-top: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}

.Category {
    height: 50px;
    display: flex;
    margin-left: 11px;
}

.Category a {
    text-decoration: none;
}

.Category ul {
    display: flex;
    height: 150px;
    list-style-type: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
    align-items: flex-end;
    text-align: left;
    justify-content: flex-start;
}

.Category ul li {
    color: #0000009c;
    padding: 10px;
}

.Category ul li span {
    color: #0000009c;
    width: 5px;
    margin-left: 20px;
}

/* item */

.grid-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 2rem;
    gap: 20px;
    /* background-color: brown; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.grid-item {
    /* background-color: #474747; */
    text-align: left;
    padding: 2rem;
    font-size: 3rem;
    border: 1px solid black;
}

.item1 {
    position: sticky;
    top: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    /* background-color: rgb(255, 68, 0); */
    display: flex;
    flex-direction: row;
}

.Allphotos {
    /* background-color: coral; */
    width: 100%;
    height: 110%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    z-index: -1;
}

.Bphotos1,
.Bphotos2,
.Bphotos3,
.Bphotos4,
.Bphotos5,
.Bphotos6,
.Bphotos7 {
    width: 50px;
    height: 50px;
    background-color: #f629e1;
    border: 1px solid black;
    border-radius: 10px;
}

.Bphotos8 {
    width: 100%;
    margin-top: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}

.Bphotos1 {
    background-image: url(./img/item/71WH7jtyWpL._AC_SL1500_.jpg);
    cursor: pointer;
}

.Bphotos2 {
    background-image: url(./img/item/71pEt2YiQBL._AC_SL1500_.jpg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: contain;
}

.item1 img {
    /* background-color: cadetblue; */
    border: 1px solid black;
    position: relative;
    top: 0;
    left: 30px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.item1 a {
    font-size: 15pt;
    display: flex;
    height: 50px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    color: rgb(18, 77, 240);
    align-items: center;
}

.item2 {
    grid-column: 2/4;
    grid-row: 1/7;
}

.item2 h1 {
    font-size: 30pt;
    text-align: left;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    font-weight: 600;
}

.item2 a {
    text-align: left;
    font-size: 20pt;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 77, 240);
}

.item2 a:hover {
    text-decoration: underline;
}

.RatingContainer {
    display: flex;
}

.stars {
    border: 3px solid rgb(121, 121, 121);
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 15px;
}

.stars p {
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stars span {
    margin-left: 5px;
    font-size: 20pt;
}

.checked {
    color: rgb(255, 94, 0);
}

.ratings {
    right: 500px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlackBox {
    background-color: #2f2f2f;
    color: #fff;
    display: flex;
    margin-top: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    width: 160px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

.MonthBuying {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 15px;
}

.MonthBuying span {
    font-weight: bold;
}

hr {
    opacity: 50%;
}

.item3 {
    grid-column: 4/5;
    grid-row: 1/5;
}

.item4 {
    grid-column: 4/5;
    grid-row: 5/7;
}

.item5 {
    grid-column: 2/5;
    grid-row: 7/8;
}