* {
    margin: 0;
    padding: 0;
}

.Container {
    background-color: rgb(255, 94, 0);
    margin: 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-around; */
    position: fixed;
}

.Logo {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-left: 30px;
    padding: 10px;
}

.Logo:hover {
    border: 1px solid #fff;
}

.Logo img {
    width: 150px;
    height: 80px;
}

.Deliver {
    margin-left: 30px;
    width: 180px;
    height: 60px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.Deliver:hover {
    border: 1px solid #fff;
}

.Deliver p {
    width: 100%;
    margin-left: 25px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    text-align: left;
}

.Location {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Location img {
    margin-left: -10px;
    width: 40px;
    height: 50px;
}

.Location h3 {
    color: #fff;
    width: 100%;
    font-weight: bold;
    align-items: center;
    font-size: 15pt;
    height: 30px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

/* Search */

.SearchBar {
    margin-left: 40px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.SearchBar .Search {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.Search:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box1 {
    background-color: rgb(236, 236, 236);
    width: 80px;
    height: 63px;
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    justify-content: center;
    font-size: 12pt;
    color: #00000089;
}

.box1:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    color: #000000;
}

.box1 p {
    display: flex;
    align-items: center;
}

.box1 img {
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    width: 15px;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 15px;
}

.box2 {
    display: flex;
    text-align: start;
    align-content: center;
    width: 100%;
    height: 60px;
}

.box2 input {
    text-align: start;
    align-content: center;
    width: 100%;
    padding: 5px;
    font-size: 13pt;
    height: 50px;
}

.box3 {
    background-color: rgb(236, 236, 236);
    position: relative;
    left: 0;
    top: 0;
    width: 80px;
    height: 63px;
    box-shadow: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    font-size: 20pt;
}

.box3:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    color: #000000;
}

.box3 img {
    width: 30px;
    height: 30px;
}

.lang {
    position: relative;
    left: 20px;
    top: 2px;
    width: 80px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang:hover {
    border: 1px solid #fff;
}

.lang img {
    width: 40px;
    height: 30px;
}

.lang p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
}

.lang .down {
    width: 50px;
    height: 30px;
    margin-left: -10px;
}

/* menu */
.menu {
    position: relative;
    top: 100px;
    background-color: rgb(255, 151, 91);
    width: 100%;
    height: 50px;
}

/* item */

.grid-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 2rem;
    gap: 20px;
    background-color: brown;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.grid-item {
    background-color: #474747;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    border: 1px solid black;
}

.item1 {
    position: sticky;
    top: 0;
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: rgb(255, 68, 0);
}

.Allphotos {
    background-color: coral;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: -1;
}

.Bphotos1,
.Bphotos2,
.Bphotos3 {
    width: 50px;
    height: 50px;
    background-color: #f629e1;
    border: 1px solid black;
}

.Bphotos4,
.Bphotos5,
.Bphotos6,
.Bphotos7 {
    width: 50px;
    height: 50px;
    background-color: #f629e1;
    border: 1px solid black;
}

.item1 img {
    background-color: cadetblue;
    border: 1px solid black;
    position: relative;
    top: -25px;
    left: 30px;
    display: flex;
    width: 100%;
    height: 100%;
}

.item2 {
    grid-column: 2/4;
    grid-row: 1/7;
}

.item3 {
    grid-column: 4/5;
    grid-row: 1/5;
}

.item4 {
    grid-column: 4/5;
    grid-row: 5/7;
}

.item5 {
    grid-column: 2/5;
    grid-row: 7/8;
}