* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Box4 */
.item4 {
    width: 50%;
    margin-top: -2%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.285);
    cursor: pointer;
    grid-column: 4/5;
    grid-row: 5/7;
}

.item4 img {
    background-color: pink;
    width: 100%;
}

.SideItemTitle {
    font-size: 20pt;
    margin-top: 20px;
    text-align: left;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    font-weight: 600;
}

.SideRatingContainer {
    display: flex;
}

.Sidestars {
    height: 30px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 15px;
    margin-left: -6px;
}

.Sidestars span {
    font-size: 15pt;
}

.Sidechecked {
    color: rgb(255, 94, 0);
}

.SideRatings {
    width: 100%;
}

.SideRatings p {
    margin-top: 8px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
}

.SideItemPrice {
    height: 50px;
}

.SideItemPrice p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Side_smallDollar {
    font-size: 14pt;
    margin-left: 5px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Side_Price {
    font-size: 20pt;
    font-weight: 550;
    margin-top: 10px;
    letter-spacing: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Side_SmallCent {
    font-size: 10pt;
    font-weight: 600;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Box5 */
.item5 {
    grid-column: 2/5;
    grid-row: 7/8;
    width: 83.5%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}

.ItemAd {
    width: 53%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 175%;
    cursor: pointer;
    margin-top: -32px;
    margin-left: -32px;
    background-image: linear-gradient(to top, #f1f1f1, #fff);
    ;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 20px;
}

.ItemAd img {
    background-color: pink;
    width: 200px;
}

.Item_Info {
    height: 150px;
    width: 60%;
    margin-top: -30px;
    margin-left: 12px;
}

.Item_Title {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Item1_stars {
    height: 30px;
    display: flex;
    padding: 5px;
    font-size: 15pt;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 15px;
    margin-left: -60px;
}

.CartBtns {
    display: flex;
    margin-top: 5px;
    width: 500px;
}

.CartBtns button {
    font-size: 11pt;
    width: 100px;
    cursor: pointer;
    height: 40px;
    border: 1px solid rgb(180, 180, 180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 15px;
}