.quote::before {
    content: " ";
    color: brown;
    font-size: 2rem;
}

.quote::after {
    content: " ";
    color: brown;
    font-size: 2rem;
}

.next-btn::after {
    content: "";
}

.info::first-letter {
    color: red;
    font-size: 26px;
}

.info::first-line {
    color: aqua;
}

::selection {
    background-color: yellow;
}