body {
    font-family: serif;
    padding: 20px;
}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 10px;
    margin: 10px;
    /* تبعد من فوق ومن تحت */
    font-weight: bold;
}

.static {
    background-color: gray;
    position: static;
    /* keeping same position with no change */
}

.relative {
    background-color: rgb(255, 222, 34);
    position: relative;
    top: 30px;
    left: 30px;
    /* moving position  */
}

.absolute {
    background-color: aquamarine;
    position: absolute;
    top: 30px;
    left: 200px;
    /* absolute finding her father is body every absolute have a relative */
}

.fixed {
    background-color: red;
    position: fixed;
    top: 0;
    right: 0;
}

.sticky {
    background-color: plum;
    position: sticky;
    top: 0;
    /* when we scroling he's like fixed when i rech top 0  */
}

/* ::before content ::after content style  */