body {
    margin: 0 auto;
    padding: 0;
    background-color: rgb(211, 211, 211);
}

header {
    background-color: rgb(0, 85, 255);
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    color: #fff;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    text-align: left;
}

.SideBar {
    background-color: rgb(52, 120, 255);
    position: fixed;
    width: 200px;
    height: 100%;
}

.SideBar .box {
    background-color: rgb(107, 156, 255);
    width: 150px;
    height: 50px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    /* تبعد من فوق ومن تحت */
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    box-shadow: none;
    border: 0cm;
}

.SideBar .box:hover {
    width: 180px;
    height: 50px;
    transition: 1s;
}

.Absolute {
    background-color: #ffffff;
    position: absolute;
    padding: 20px;
    width: 80%;
    height: 300px;
    top: 200px;
    left: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Absolute h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Absolute .box {
    padding: 20px;
    height: 20px;
    width: 90%;
    margin: 10px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.X,
.Z {
    background-color: cadetblue;
    border-radius: 1cm;
}

.Y {
    background-color: rgb(153, 252, 255);
    border-radius: 1cm;
}

.Relative {
    background-color: #ffffff;
    position: relative;
    padding: 20px;
    width: 80%;
    height: 300px;
    top: 600px;
    left: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Relative h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Card {
    background-color: bisque;
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.4cm;
}

.Card h1 {
    display: inline-block;
    text-align: center;
}