.item1 {
    position: sticky;
    top: 0;
    grid-column: 1/2;
    grid-row: 1/3;
    /* background-color: rgb(255, 68, 0); */
    display: flex;
    flex-direction: row;
}

.Allphotos {
    /* background-color: coral; */
    width: 100%;
    height: 110%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    z-index: -1;
}

.Bphotos1,
.Bphotos2,
.Bphotos3,
.Bphotos4,
.Bphotos5,
.Bphotos6,
.Bphotos7 {
    width: 50px;
    height: 50px;
    background-color: #f629e1;
    border: 1px solid black;
    border-radius: 10px;
}

.Bphotos8 {
    width: 100%;
    margin-top: 100px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

/* .Bphotos1 {
    background-image: url(./img/item/71WH7jtyWpL._AC_SL1500_.jpg);
    cursor: pointer;
} */
.item1 .Bphotos1,
.Bphotos3,
.Bphotos4,
.Bphotos5,
.Bphotos6,
.Bphotos7 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: -25px;
}

.item1 .Bphotos2 {
    /* background-image: url(./img/item/71pEt2YiQBL._AC_SL1500_.jpg); */
    /* cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    object-fit: contain; */
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: -25px;
}

.item1 .Bphotos3 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: -25px;
}

.item1 .Bphotos4 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: -25px;
}

.item1 .Bphotos5 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: -25px;
}

.item1 .Bphotos6 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: -25px;
}

.item1 .Bphotos7 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: 5px;
}

.item1 img {
    /* background-color: cadetblue; */
    /* border: 1px solid black; */
    position: relative;
    top: 0;
    left: 30px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.item1 a {
    font-size: 15pt;
    display: flex;
    height: 50px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    color: rgb(18, 77, 240);
    align-items: center;
}