        .Profile {
            margin-top: 100px;
            width: 100%;
            height: 250px;
        }

        .ProfileCenter {
            margin: 0;
            padding: 0;
            text-align: center;
            width: 100%;
            height: 250px;
        }


        .ProfileCenter h1 {
            font-size: 45pt;
        }

        .ProfileCenter p {
            margin-top: -20px;
            font-size: 25pt;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            color: rgb(255, 105, 64);
            ;
        }