/* rem = realtive */
/* 1rem = 16px */
* {
    margin: 0;
    padding: 0;
}

.grid-container {
    background-color: rgb(255, 180, 205);
    padding: 1rem;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    /* fr = fraction */
    grid-template-rows: repeat(4, 1fr);
}

.grid-item {
    background-color: #fff;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    border: 1px solid black;
}

.item1 {
    /* grid-column: 1/4; */
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4; */
    background-color: aquamarine;
    grid-column: 1/5;
    grid-row: 1/2;
}

.item2 {
    background-color: rgb(180, 49, 255);
    border-radius: 20px;
    grid-column: 1/2;
    grid-row: 2/5;
}

.item3 {
    background-color: rgb(216, 255, 43);
    border-radius: 20px;
    grid-column: 2/5;
    grid-row: 2/4;
}

.item4 {
    background-color: rgb(32, 255, 133);
    border-radius: 20px;
    grid-column: 2/3;
    grid-row: 4/5;
}

.item5 {
    background-color: rgb(23, 240, 255);
    border-radius: 20px;
    grid-column: 3/5;
    grid-row: 4/5;
}