/* menu */
.menu {
    position: relative;
    top: 0;
    background-color: rgb(255, 151, 91);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    cursor: pointer;
}

.menu nav ul span img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 3px;
}

.MenuAll {
    margin-top: 3px;
    margin-left: 40px;
}

.menu nav ul li {
    margin-left: 40px;
}

.menu nav ul li:hover {
    height: 35px;
    border: 2px solid #fff;
    border-radius: 10px;
}