.Container {
    background-color: rgb(255, 94, 0);
    margin: 0 auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-around; */
    /* position: fixed; */
}

.Logo {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-left: 30px;
    padding: 10px;
}

.Logo:hover {
    border: 1px solid #fff;
}

.Logo img {
    width: 150px;
    height: 80px;
}

.Deliver {
    margin-left: 30px;
    width: 180px;
    height: 60px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.Deliver:hover {
    border: 1px solid #fff;
}

.Deliver p {
    width: 100%;
    margin-left: 25px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    text-align: left;
}

.Location {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Location img {
    margin-left: -10px;
    width: 40px;
    height: 50px;
}

.Location h3 {
    color: #fff;
    width: 100%;
    font-weight: bold;
    align-items: center;
    font-size: 15pt;
    height: 30px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

/* Search */

.SearchBar {
    margin-left: 40px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.SearchBar .Search {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.Search:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box1 {
    background-color: rgb(236, 236, 236);
    width: 80px;
    height: 63px;
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    justify-content: center;
    font-size: 12pt;
    color: #00000089;
}

.box1:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    color: #000000;
}

.box1 p {
    display: flex;
    align-items: center;
}

.box1 img {
    margin-top: 25px;
    margin-left: 10px;
    display: flex;
    width: 15px;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 15px;
}

.box2 {
    display: flex;
    text-align: start;
    align-content: center;
    width: 100%;
    height: 60px;
}

.box2 input {
    text-align: start;
    align-content: center;
    width: 100%;
    padding: 5px;
    font-size: 13pt;
    height: 50px;
}

.box3 {
    background-color: rgb(236, 236, 236);
    position: relative;
    left: 0;
    top: 0;
    width: 80px;
    height: 63px;
    box-shadow: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    font-size: 20pt;
}

.box3:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    color: #000000;
}

.box3 img {
    width: 30px;
    height: 30px;
}

/* UserInfo */

.UserInfo {
    width: 700px;
    height: 62.5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.lang {
    margin-left: 20px;
    width: 80px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang:hover {
    border: 1px solid #fff;
}

.lang img {
    width: 40px;
    height: 30px;
}

.lang p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
}

.lang .down {
    width: 50px;
    height: 30px;
    margin-left: -10px;
}

.signin {
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 200px;
}

.signin:hover {
    border: 1px solid #fff;
}

.signin p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
}

.signin h2 {
    color: #fff;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.signin img {
    width: 50px;
    height: 30px;
    display: flex;
    margin-right: 11px;
    align-items: center;
    justify-content: center;
}

.Orders {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100px;
}

.Orders:hover {
    border: 1px solid #fff;
}

.Orders p {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    align-items: center;
    justify-content: center;
}

.Orders h2 {
    color: #fff;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.cart {
    width: 80px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px;
}

.cart:hover {
    border: 1px solid #fff;
}

.cart img {
    width: 100px;
    height: 50px;
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cart h2 {
    color: #fff;
    margin-top: 25px;
    font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: end;
    justify-content: end;
}