.AboutItem {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25pt;
}

.AboutInfo {
    height: 50%;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.AboutInfo li {
    margin-top: 10px;
}

.AboutProduct {
    margin-top: 10px;
    cursor: pointer;
    font-size: 18pt;
    color: rgb(18, 77, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.AboutProduct:hover {
    text-decoration: underline;
}

.AboutProduct span {
    width: 5px;
    font-weight: 800;
    color: palevioletred;
}

.ReportHead {
    margin-top: 30px;
    display: flex;
}

.ReportHead img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.ReportProduct {
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18pt;
    color: rgb(18, 77, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ReportProduct:hover {
    text-decoration: underline;
}