.item2 {
    grid-column: 2/4;
    grid-row: 1/7;
}

.item2 h1 {
    font-size: 30pt;
    text-align: left;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    font-weight: 600;
}

.item2 a {
    text-align: left;
    font-size: 20pt;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(18, 77, 240);
}

.item2 a:hover {
    text-decoration: underline;
}

.RatingContainer {
    display: flex;
}

.stars {
    /* border: 3px solid rgb(121, 121, 121); */
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 15px;
}

.stars p {
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stars span {
    margin-left: 5px;
    font-size: 20pt;
}

.checked {
    color: rgb(255, 94, 0);
}

.ratings {
    right: 500px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BlackBox {
    background-color: #2f2f2f;
    color: #fff;
    display: flex;
    margin-top: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    width: 160px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

.MonthBuying {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 15px;
}

.MonthBuying span {
    font-weight: bold;
}

hr {
    opacity: 50%;
}